{
    "openapi": "3.0.1",
    "info": {
        "title": "avoindata-api",
        "description": "API for Fingrid Open Data",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://data.fingrid.fi/api"
        }
    ],
    "paths": {
        "/data": {
            "get": {
                "tags": [
                    "Data"
                ],
                "summary": "GetMultipleTimeseriesData",
                "description": "Get data for multiple datasets. Returns empty array if no data is found. If only part of requested datasets have data in generel or for requested timespan, those data are returned.",
                "operationId": "GetMultipleTimeseriesData",
                "parameters": [
                    {
                        "name": "datasets",
                        "in": "query",
                        "description": "Comma-separated list of dataset ids",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Example 1": {
                                "value": 245
                            },
                            "Example 2": {
                                "value": 245247
                            }
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Starting time from which to query data. Timezone is optional, UTC is assumed if not provided. Response is always in UTC time. If you are using tester on this page use Example 1 format, if you are using curl use Example 2 format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "2023-06-28T12:00:00.0000000+00:00"
                            },
                            "Example 2": {
                                "value": "2023-06-28T00:00%2b0300"
                            }
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Ending time up to which to query data. Timezone is optional, UTC is assumed if not provided. Response is always in UTC time. If you are using tester on this page use Example 1 format, if you are using curl use Example 2 format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "2023-06-28T11:59:00.0000000+00:00"
                            },
                            "Example 2": {
                                "value": "2023-06-28T23:59%2b0300"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format. Either json, csv or xml. Default is json.",
                        "schema": {
                            "enum": [
                                "json",
                                "csv",
                                "xml"
                            ],
                            "type": "string"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "json"
                            },
                            "Example 2": {
                                "value": "csv"
                            },
                            "Example 3": {
                                "value": "xml"
                            }
                        }
                    },
                    {
                        "name": "oneRowPerTimePeriod",
                        "in": "query",
                        "description": "If true, returns one row per time period, instead of one row per observation. Result has an attribute for each requested dataset. Currently does not support XML. Default is false.",
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. Number of page. Default is 1.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. Number of results per page. Value can be between 1-20000. Default is 10.",
                        "schema": {
                            "maximum": 20000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Language for response. Used only if oneRowPerTimePeriod is true. Either en or fi. Default is en.",
                        "schema": {
                            "enum": [
                                "en",
                                "fi"
                            ],
                            "type": "string"
                        },
                        "example": "en"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "startTime",
                                "endTime"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Order results in this direction. Either asc or desc. Default is asc.",
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        },
                        "example": "asc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeseriesDataResponse"
                                },
                                "examples": {
                                    "Example 1: JSON, one row per observation": {
                                        "value": {
                                            "data": [
                                                {
                                                    "datasetId": 245,
                                                    "startTime": "2023-06-28T12:15:00.0000000+00:00",
                                                    "endTime": "2023-06-28T12:30:00.0000000+00:00",
                                                    "value": 186.8
                                                },
                                                {
                                                    "datasetId": 247,
                                                    "startTime": "2023-06-28T12:15:00.0000000+00:00",
                                                    "endTime": "2023-06-28T12:30:00.0000000+00:00",
                                                    "value": 496.7
                                                }
                                            ],
                                            "pagination": {
                                                "total": 2,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 2
                                            }
                                        }
                                    },
                                    "Example 2: JSON, one row per time period": {
                                        "value": {
                                            "data": [
                                                {
                                                    "startTime": "2023-06-28T12:15:00.0000000+00:00",
                                                    "endTime": "2023-06-28T12:30:00.0000000+00:00",
                                                    "Wind power generation forecast - updated every 15 minutes": 186.8,
                                                    "Solar power generation forecast - updated every 15 minutes": 496.7
                                                }
                                            ],
                                            "pagination": {
                                                "total": 1,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 1
                                            }
                                        }
                                    },
                                    "Example 3: CSV, one row per observation": {
                                        "value": {
                                            "data": "\"datasetId\",\"startTime\",\"endTime\",\"value\"\n\"245\",\"2023-06-28T12:15:00.000Z\",\"2023-06-28T12:30:00.000Z\",\"186.8\"\n\"247\",\"2023-06-28T12:15:00.000Z\",\"2023-06-28T12:30:00.000Z\",\"496.7\"",
                                            "pagination": {
                                                "total": 2,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 2
                                            }
                                        }
                                    },
                                    "Example 4: CSV, one row per time period": {
                                        "value": {
                                            "data": "\"Start time UTC\",\"End time UTC\",\"Wind power generation forecast - updated every 15 minutes\",\"Solar power generation forecast - updated every 15 minutes\"\n\"2023-06-28T12:15:00.000Z\",\"2023-06-28T12:30:00.000Z\",\"186.8\",\"496.7\"",
                                            "pagination": {
                                                "total": 1,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 1
                                            }
                                        }
                                    },
                                    "Example 5: XML, one row per observation": {
                                        "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><events><event><datasetId>245</datasetId><startTimeUTC>2023-06-28T12:15:00.000Z</startTimeUTC><endTimeUTC>2023-06-28T12:30:00.000Z</endTimeUTC><value>186.8</value></event><event><datasetId>247</datasetId><startTimeUTC>2023-06-28T12:15:00.000Z</startTimeUTC><endTimeUTC>2023-06-28T12:30:00.000Z</endTimeUTC><value>496.7</value></event><pagination><currentPage>1</currentPage><perPage>2</perPage><from>0</from><to>1</to><total>2</total></pagination></events>"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateError"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "GetDatasetShorts",
                "description": "Returns list of all public datasets, with pagination. If no parameters are given, returns all datasets sorted by dataset ID. If search parameter is given, returns datasets sorted by relevance.",
                "operationId": "GetDatasetShorts",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search phrase to filter datasets. If given as parameter, other parameters are ignored, and results are sorted by relevance. Notes: 1) Search is case insensitive. 2) Search is done for dataset name, description, keywords and content groups. 3) Search is done for both Finnish and English versions of the fields.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "wind power production"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Comma-separated list of dataset ids",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "Example 1": {
                                "value": 245
                            },
                            "Example 2": {
                                "value": 245247
                            }
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. Number of page. Default is 1.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. Number of results per page. Value can be between 1-20000. Default is 10.",
                        "schema": {
                            "maximum": 20000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Order results by this attribute. Accepts \"id\", \"nameFi\", \"nameEn\". Default is id.",
                        "schema": {
                            "enum": [
                                "id",
                                "nameFi",
                                "nameEn"
                            ],
                            "type": "string"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "id"
                            },
                            "Example 2": {
                                "value": "nameFi"
                            },
                            "Example 3": {
                                "value": "nameEn"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/IWithPagination_DatasetSearchResult_"
                                        },
                                        {
                                            "$ref": "#/components/schemas/IWithPagination_DatasetShort_"
                                        }
                                    ]
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "data": [
                                                {
                                                    "id": 75,
                                                    "modifiedAtUtc": "2023-10-20T08:29:10.0000000+00:00",
                                                    "type": "timeseries",
                                                    "organization": "Fingrid",
                                                    "nameFi": "Tuulivoimatuotanto - varttitieto",
                                                    "nameEn": "Wind power generation - 15 min data",
                                                    "descriptionFi": "Suomen tuulivoimatuotannon varttitieto on summa Fingridille toimitetuista tuulivoimamittauksista seka arvioista, jotka Fingrid tekee mittaamattomista tuulipuistoista. Mittaamattomia puistoja on noin kaksi prosenttia kapasiteetista.",
                                                    "descriptionEn": "Finnish 15 min wind power generation is a sum of measurements from wind parks supplied to Fingrid and of the estimate Fingrid makes from non-measured wind parks. Non-measured wind parks are about two percent of the production capacity.",
                                                    "dataPeriodFi": "15 min",
                                                    "dataPeriodEn": "15 min",
                                                    "unitFi": "MWh/h",
                                                    "unitEn": "MWh/h",
                                                    "keyWordsFi": [
                                                        "Tuulivoimatuotanto",
                                                        "Tuotantolukema",
                                                        "Reaaliaikamittaustieto",
                                                        "Tuulivoima"
                                                    ],
                                                    "keyWordsEn": [
                                                        "Wind power generation",
                                                        "Power generation",
                                                        "Real time measurement"
                                                    ],
                                                    "contentGroupsFi": [
                                                        "Kulutus ja tuotanto",
                                                        "Tuulivoimatuotanto"
                                                    ],
                                                    "contentGroupsEn": [
                                                        "load-and-generation",
                                                        "windpower"
                                                    ],
                                                    "availableFormats": [
                                                        "json",
                                                        "csv",
                                                        "xml"
                                                    ],
                                                    "searchScore": 5.75652
                                                },
                                                {
                                                    "id": 245,
                                                    "modifiedAtUtc": "2023-10-20T08:29:10.0000000+00:00",
                                                    "type": "timeseries",
                                                    "organization": "Fingrid",
                                                    "nameFi": "Tuulivoiman tuotantoennuste - paivitys 15 minuutin valein",
                                                    "nameEn": "Wind power generation forecast - updated every 15 minutes",
                                                    "descriptionFi": "15 minuutin valein paivittyva Suomen tuulivoiman tuotantoennuste seuraavalle 36 tunnille. Ennuste perustuu tuuliennusteisiin ja tietoihin tuulivoimaloiden sijainnista, koosta ja kapasiteetista. Saatietoa saadaan useilta toimittajilta.",
                                                    "descriptionEn": "Finnish wind power generation forecast for the next 36 hours. Updated every 15 minutes. The forecast is based on weather forecasts and data about the location, size and capacity of wind turbines. The weather data sourced from multiple providers.",
                                                    "dataPeriodFi": "15 min",
                                                    "dataPeriodEn": "15 min",
                                                    "unitFi": "MWh/h",
                                                    "unitEn": "MWh/h",
                                                    "keyWordsFi": [
                                                        "Tuulivoimaennuste",
                                                        "Tuulivoima",
                                                        "Tuotantoennuste",
                                                        "Ennuste"
                                                    ],
                                                    "keyWordsEn": [
                                                        "Wind Power Generation forecast",
                                                        "Wind Power",
                                                        "Generation forecast",
                                                        "Forecast"
                                                    ],
                                                    "contentGroupsFi": [
                                                        "Kulutus ja tuotanto",
                                                        "Tuulivoimatuotanto"
                                                    ],
                                                    "contentGroupsEn": [
                                                        "load-and-generation",
                                                        "windpower"
                                                    ],
                                                    "availableFormats": [
                                                        "json",
                                                        "csv",
                                                        "xml"
                                                    ],
                                                    "searchScore": 1.153681
                                                }
                                            ],
                                            "pagination": {
                                                "total": 2,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 2
                                            }
                                        }
                                    },
                                    "Example 2": {
                                        "value": {
                                            "data": [
                                                {
                                                    "id": 245,
                                                    "modifiedAtUtc": "2023-10-20T08:29:10.0000000+00:00",
                                                    "type": "timeseries",
                                                    "organization": "Fingrid",
                                                    "nameFi": "Tuulivoiman tuotantoennuste - paivitys 15 minuutin valein",
                                                    "nameEn": "Wind power generation forecast - updated every 15 minutes",
                                                    "descriptionFi": "15 minuutin valein paivittyva Suomen tuulivoiman tuotantoennuste seuraavalle 36 tunnille. Ennuste perustuu tuuliennusteisiin ja tietoihin tuulivoimaloiden sijainnista, koosta ja kapasiteetista. Saatietoa saadaan useilta toimittajilta.",
                                                    "descriptionEn": "Finnish wind power generation forecast for the next 36 hours. Updated every 15 minutes. The forecast is based on weather forecasts and data about the location, size and capacity of wind turbines. The weather data sourced from multiple providers.",
                                                    "dataPeriodFi": "15 min",
                                                    "dataPeriodEn": "15 min",
                                                    "unitFi": "MWh/h",
                                                    "unitEn": "MWh/h",
                                                    "contentGroupsFi": [
                                                        "Kulutus ja tuotanto",
                                                        "Tuulivoimatuotanto"
                                                    ],
                                                    "contentGroupsEn": [
                                                        "load-and-generation",
                                                        "windpower"
                                                    ],
                                                    "keyWordsFi": [
                                                        "Tuulivoimaennuste",
                                                        "Tuulivoima",
                                                        "Tuotantoennuste",
                                                        "Ennuste"
                                                    ],
                                                    "keyWordsEn": [
                                                        "Wind Power Generation forecast",
                                                        "Wind Power",
                                                        "Generation forecast",
                                                        "Forecast"
                                                    ],
                                                    "availableFormats": [
                                                        "json",
                                                        "csv",
                                                        "xml"
                                                    ]
                                                },
                                                {
                                                    "id": 247,
                                                    "modifiedAtUtc": "2023-10-20T08:29:10.0000000+00:00",
                                                    "type": "timeseries",
                                                    "organization": "Fingrid",
                                                    "nameFi": "Aurinkovoiman tuotantoennuste - paivitys 15 minuutin valein",
                                                    "nameEn": "Solar power generation forecast - updated every 15 minutes",
                                                    "descriptionFi": "15 minuutin valein paivittyva aurinkovoiman tuotantoennuste seuraavalle 36 tunnille. Aurinkovoimaennusteet perustuvat saaennusteisiin ja arvioihin Suomeen asennettujen aurinkopaneelien kokonaistuotantotehosta seka niiden sijainneista. Fingrid on arvioinut aurinkopaneeleiden kokonaistuotantotehon Energiaviraston jakeluverkkoyhtioilta saadun vuosittaisen kapasiteettitiedon ja aurinkopaneeleiden asennusten kasvuennusteiden mukaan. Paneelien maantieteellinen sijainti on arvioitu hyvin karkeasti kapasiteetin ilmoittaneen verkkoyhtioiden perusteella.",
                                                    "descriptionEn": "Solar power generation forecast for the next 36 hours. Updated every 15 minutes. Solar forecasts are based on weather forecasts and estimates of installed PV capacity and location in Finland. Total PV capacity is based on yearly capacity statistics from the Finnish energy authority and estimates on installation rate of new capacity. Location information is a very rough estimate based on Finnish distribution grid operators information.",
                                                    "dataPeriodFi": "15 min",
                                                    "dataPeriodEn": "15 min",
                                                    "unitFi": "MWh/h",
                                                    "unitEn": "MWh/h",
                                                    "contentGroupsFi": [
                                                        "Kulutus ja tuotanto"
                                                    ],
                                                    "contentGroupsEn": [],
                                                    "keyWordsFi": [
                                                        "Aurinkovoima",
                                                        "Aurinkovoimaennuste",
                                                        "Tuotantoennuste",
                                                        "Ennuste"
                                                    ],
                                                    "keyWordsEn": [
                                                        "Solar power",
                                                        "Forecast",
                                                        "Generation forecast",
                                                        "Solar power forecast"
                                                    ],
                                                    "availableFormats": [
                                                        "json",
                                                        "csv",
                                                        "xml"
                                                    ]
                                                }
                                            ],
                                            "pagination": {
                                                "total": 2,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 2
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "GetDataset",
                "description": "Returns a single dataset or 404 error if not found",
                "operationId": "GetDataset",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "Format - int32. The ID of the dataset to return",
                        "required": true,
                        "schema": {
                            "maximum": 999999,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dataset"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "id": 245,
                                            "modifiedAtUtc": "2023-10-20T08:29:10.0000000+00:00",
                                            "type": "timeseries",
                                            "isPublic": true,
                                            "status": "active",
                                            "organization": "Fingrid",
                                            "nameFi": "Tuulivoiman tuotantoennuste - paivitys 15 minuutin valein",
                                            "nameEn": "Wind power generation forecast - updated every 15 minutes",
                                            "descriptionFi": "15 minuutin valein paivittyva Suomen tuulivoiman tuotantoennuste seuraavalle 36 tunnille. Ennuste perustuu tuuliennusteisiin ja tietoihin tuulivoimaloiden sijainnista, koosta ja kapasiteetista. Saatietoa saadaan useilta toimittajilta.",
                                            "descriptionEn": "Finnish wind power generation forecast for the next 36 hours. Updated every 15 minutes. The forecast is based on weather forecasts and data about the location, size and capacity of wind turbines. The weather data sourced from multiple providers.",
                                            "dataPeriodFi": "15 min",
                                            "dataPeriodEn": "15 min",
                                            "updateCadenceFi": "15 min",
                                            "updateCadenceEn": "15 min",
                                            "unitFi": "MWh/h",
                                            "unitEn": "MWh/h",
                                            "contactPersons": "Aino Summanen (aino.summanen@fingrid.fi)",
                                            "license": {
                                                "name": "Creative Commons Attribution",
                                                "termsLink": ""
                                            },
                                            "keyWordsFi": [
                                                "Tuulivoimaennuste",
                                                "Tuulivoima",
                                                "Tuotantoennuste",
                                                "Ennuste"
                                            ],
                                            "keyWordsEn": [
                                                "Wind Power Generation forecast",
                                                "Wind Power",
                                                "Generation forecast",
                                                "Forecast"
                                            ],
                                            "contentGroupsFi": [
                                                "Kulutus ja tuotanto",
                                                "Tuulivoimatuotanto"
                                            ],
                                            "contentGroupsEn": [
                                                "load-and-generation",
                                                "windpower"
                                            ],
                                            "availableFormats": [
                                                "json",
                                                "csv",
                                                "xml"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The responder function for a not found dataset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "message": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/data": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "GetDatasetData",
                "description": "Returns datasetdata or empty array if no data is found.",
                "operationId": "GetDatasetData",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "Format - int32. The ID of the dataset to return",
                        "required": true,
                        "schema": {
                            "maximum": 999999,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Starting time from which to query data. Timezone is optional, UTC is assumed if not provided. Response is always in UTC time. If you are using tester on this page use Example 1 format, if you are using curl use Example 2 format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "2023-06-28T12:00:00.0000000+00:00"
                            },
                            "Example 2": {
                                "value": "2023-06-28T00:00%2b0300"
                            }
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Ending time up to which to query data. Timezone is optional, UTC is assumed if not provided. Response is always in UTC time. If you are using tester on this page use Example 1 format, if you are using curl use Example 2 format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "2023-06-28T11:59:00.0000000+00:00"
                            },
                            "Example 2": {
                                "value": "2023-06-28T23:59%2b0300"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response format. Either json, csv or xml. Default is json.",
                        "schema": {
                            "enum": [
                                "json",
                                "csv",
                                "xml"
                            ],
                            "type": "string"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "json"
                            },
                            "Example 2": {
                                "value": "csv"
                            },
                            "Example 3": {
                                "value": "xml"
                            }
                        }
                    },
                    {
                        "name": "oneRowPerTimePeriod",
                        "in": "query",
                        "description": "If true, returns one row per time period, instead of one row per observation. Currently does not support XML. Default is false.",
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. Number of page. Default is 1.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. Number of results per page. Value can be between 1-20000. Default is 10.",
                        "schema": {
                            "maximum": 20000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Language for response. Used only if oneRowPerTimePeriod is true. Either en or fi. Default is en.",
                        "schema": {
                            "enum": [
                                "en",
                                "fi"
                            ],
                            "type": "string"
                        },
                        "example": "en"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "startTime",
                                "endTime"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Order results in this direction. Either asc or desc. Default is asc.",
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        },
                        "example": "asc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeseriesDataResponse"
                                },
                                "examples": {
                                    "Example 1: JSON, one row per observation": {
                                        "value": {
                                            "data": [
                                                {
                                                    "datasetId": 245,
                                                    "startTime": "2023-06-28T12:15:00.0000000+00:00",
                                                    "endTime": "2023-06-28T12:30:00.0000000+00:00",
                                                    "value": 186.8
                                                },
                                                {
                                                    "datasetId": 245,
                                                    "startTime": "2023-06-28T12:30:00.0000000+00:00",
                                                    "endTime": "2023-06-28T12:45:00.0000000+00:00",
                                                    "value": 496.7
                                                }
                                            ],
                                            "pagination": {
                                                "total": 2,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 2
                                            }
                                        }
                                    },
                                    "Example 2: JSON, one row per time period": {
                                        "value": {
                                            "data": [
                                                {
                                                    "startTime": "2023-06-28T12:15:00.0000000+00:00",
                                                    "endTime": "2023-06-28T12:30:00.0000000+00:00",
                                                    "Wind power generation forecast - updated every 15 minutes": 186.8
                                                }
                                            ],
                                            "pagination": {
                                                "total": 1,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 1
                                            }
                                        }
                                    },
                                    "Example 3: CSV, one row per observation": {
                                        "value": {
                                            "data": "\"datasetId\",\"startTime\",\"endTime\",\"value\"\n\"245\",\"2023-06-28T12:15:00.000Z\",\"2023-06-28T12:30:00.000Z\",\"186.8\"",
                                            "pagination": {
                                                "total": 1,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 1
                                            }
                                        }
                                    },
                                    "Example 4: CSV, one row per time period": {
                                        "value": {
                                            "data": "\"Start time UTC\",\"End time UTC\",\"Wind power generation forecast - updated every 15 minutes\"\n\"2023-06-28T12:15:00.000Z\",\"2023-06-28T12:30:00.000Z\",\"186.8\"",
                                            "pagination": {
                                                "total": 1,
                                                "lastPage": 1,
                                                "prevPage": null,
                                                "nextPage": null,
                                                "perPage": 10,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 1
                                            }
                                        }
                                    },
                                    "Example 5: XML, one row per observation": {
                                        "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><events><event><datasetId>245</datasetId><startTimeUTC>2023-06-28T12:15:00.000Z</startTimeUTC><endTimeUTC>2023-06-28T12:30:00.000Z</endTimeUTC><value>186.8</value></event><event><datasetId>245</datasetId><startTimeUTC>2023-06-28T12:15:00.000Z</startTimeUTC><endTimeUTC>2023-06-28T12:30:00.000Z</endTimeUTC><value>496.7</value></event><pagination><total>2</total><lastPage>1</lastPage><prevPage/><nextPage/><perPage>10</perPage><currentPage>1</currentPage><perPage>2</perPage><from>0</from><to>1</to></pagination></events>"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateError"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/data/latest": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "GetLastDataByDataset",
                "description": "Return a last data by dataset or 404 error if not found",
                "operationId": "GetLastDataByDataset",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "Format - int32. The ID of the dataset to return",
                        "required": true,
                        "schema": {
                            "maximum": 999999,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeseriesData"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "datasetId": 245,
                                            "startTime": "2023-05-22T06:15:00.0000000+00:00",
                                            "endTime": "2023-05-22T06:30:00.0000000+00:00",
                                            "value": 1231.3
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The responder function for a not found timeseriesdata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "message": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Healthcheck"
                ],
                "summary": "GetHealthStatus",
                "description": "Returns status of services",
                "operationId": "GetHealthStatus",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthStatus"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "app": {
                                                "status": "OK"
                                            },
                                            "database": {
                                                "status": "OK"
                                            },
                                            "network": {
                                                "status": "OK"
                                            }
                                        }
                                    },
                                    "Example 2": {
                                        "value": {
                                            "app": {
                                                "status": "OK"
                                            },
                                            "database": {
                                                "status": "OK"
                                            },
                                            "network": {
                                                "status": "ERROR",
                                                "message": "Something went wrong"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/notifications/active": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "GetActiveNotifications",
                "description": "Return list of active service notification or empty response",
                "operationId": "GetActiveNotifications",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Notification"
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": [
                                            {
                                                "id": 1,
                                                "modifiedAtUtc": "2023-10-13T09:35:59.0000000+00:00",
                                                "startTimeUtc": "2023-06-13T01:15:00.0000000+00:00",
                                                "endTimeUtc": "2023-07-31T12:00:00.0000000+00:00",
                                                "messageFi": "Jarjestelmaa paivitetaan 27.10.2023 klo 12.00-14.00. Pahoittelemme mahdollista hairiota.",
                                                "messageEn": "The system will be updated on 27 October 2023 at 12.00-14.00. We apologize for any inconvenience.",
                                                "linkFi": "http://www.fingrid.fi",
                                                "linkEn": "http://www.fingrid.fi/en",
                                                "linkTextFi": "Lue lisaa",
                                                "linkTextEn": "Read more"
                                            },
                                            {
                                                "id": 2,
                                                "modifiedAtUtc": "2023-10-24T08:53:05.0000000+00:00",
                                                "startTimeUtc": "2023-10-01T01:15:00.0000000+00:00",
                                                "endTimeUtc": "2023-10-10T12:00:00.0000000+00:00",
                                                "messageFi": "Jarjestelmaa paivitetaan 09.10.2023 klo 12.00-14.00. Pahoittelemme mahdollista hairiota.",
                                                "messageEn": "The system will be updated on 9 October 2023 at 12.00-14.00. We apologize for any inconvenience."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/files": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "GetDatasetFileData",
                "description": "Returns datasetfiledata or 404 error if not found or a 422 error if validation fails.",
                "operationId": "GetDatasetFileData",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "Format - int32. The ID of the dataset to return",
                        "required": true,
                        "schema": {
                            "maximum": 999999,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Starting time from which to query data. Timezone is optional, UTC is assumed if not provided. Response is always in UTC time. If you are using tester on this page use Example 1 format, if you are using curl use Example 2 format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "2023-06-28T12:00:00.0000000+00:00"
                            },
                            "Example 2": {
                                "value": "2023-06-28T00:00%2b0300"
                            }
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Ending time up to which to query data. Timezone is optional, UTC is assumed if not provided. Response is always in UTC time. If you are using tester on this page use Example 1 format, if you are using curl use Example 2 format.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "examples": {
                            "Example 1": {
                                "value": "2023-06-28T11:59:00.0000000+00:00"
                            },
                            "Example 2": {
                                "value": "2023-06-28T23:59%2b0300"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. Number of page. Default is 1.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. Number of results per page. Value can be between 1-20000. Default is 10.",
                        "schema": {
                            "maximum": 20000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        },
                        "example": "asc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IWithPagination_FileData_"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "data": [
                                                {
                                                    "id": 282,
                                                    "datasetId": 339,
                                                    "createdAtUtc": "2023-10-06T09:59:10.0000000+00:00",
                                                    "modifiedAtUtc": "2023-10-06T09:59:10.0000000+00:00",
                                                    "filenameFi": "Taajuusmittausdata 2021-07",
                                                    "filenameEn": "Frequency measurement data 2021-07",
                                                    "messageFi": "",
                                                    "messageEn": "",
                                                    "link": "/files/frequency_history/2021-07.zip",
                                                    "fileType": "application/zip",
                                                    "size": 96468992,
                                                    "dataFrom": "2021-07-01T12:00:00.0000000+00:00",
                                                    "dataTo": "2021-07-31T11:59:59.0000000+00:00"
                                                },
                                                {
                                                    "id": 283,
                                                    "datasetId": 339,
                                                    "createdAtUtc": "2023-10-06T09:59:10.0000000+00:00",
                                                    "modifiedAtUtc": "2023-10-06T09:59:10.0000000+00:00",
                                                    "filenameFi": "Taajuusmittausdata 2021-08",
                                                    "filenameEn": "Frequency measurement data 2021-08",
                                                    "messageFi": "Paivitetty 8.6.2022: Minuutti 27.8.2021 09:31 sisalsi hieman virheellista... ",
                                                    "messageEn": "Updated on 8 June 2022: Minute 2021/8/27 09:31 contained some incorrect... ",
                                                    "link": "/files/frequency_history/2021-08.zip",
                                                    "fileType": "application/zip",
                                                    "size": 97517568,
                                                    "dataFrom": "2021-08-01T12:00:00.0000000+00:00",
                                                    "dataTo": "2021-08-31T11:59:59.0000000+00:00"
                                                },
                                                {
                                                    "id": 284,
                                                    "datasetId": 339,
                                                    "createdAtUtc": "2023-10-06T09:59:10.0000000+00:00",
                                                    "modifiedAtUtc": "2023-10-06T09:59:10.0000000+00:00",
                                                    "filenameFi": "Taajuusmittausdata 2021-09",
                                                    "filenameEn": "Frequency measurement data 2021-09",
                                                    "messageFi": "",
                                                    "messageEn": "",
                                                    "link": "/files/frequency_history/2021-09.zip",
                                                    "fileType": "application/zip",
                                                    "size": 95420416,
                                                    "dataFrom": "2021-09-01T12:00:00.0000000+00:00",
                                                    "dataTo": "2021-09-30T11:59:59.0000000+00:00"
                                                }
                                            ],
                                            "pagination": {
                                                "total": 23,
                                                "lastPage": 8,
                                                "prevPage": null,
                                                "nextPage": 2,
                                                "perPage": 3,
                                                "currentPage": 1,
                                                "from": 0,
                                                "to": 3
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The responder function for a not found dataset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateError"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/files/{fileId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "GetDatasetFile",
                "description": "Return a single datasetfile or 404 error if not found",
                "operationId": "GetDatasetFile",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "Format - int32. The ID of the dataset to return",
                        "required": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "Format - int32. The ID of the file to return",
                        "required": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileData"
                                },
                                "example": {
                                    "id": 0,
                                    "modifiedAtUtc": "string",
                                    "createdAtUtc": "string",
                                    "filenameFi": "string",
                                    "filenameEn": "string",
                                    "messageFi": "string",
                                    "messageEn": "string",
                                    "link": "string",
                                    "fileType": "string",
                                    "size": 0,
                                    "dataFrom": "string",
                                    "dataTo": "string",
                                    "datasetId": 0
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateError"
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Notification": {
                "required": [
                    "id",
                    "startTimeUtc",
                    "endTimeUtc",
                    "messageFi",
                    "messageEn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "format": "double"
                    },
                    "modifiedAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startTimeUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTimeUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "messageFi": {
                        "type": "string"
                    },
                    "messageEn": {
                        "type": "string"
                    },
                    "linkFi": {
                        "type": "string"
                    },
                    "linkEn": {
                        "type": "string"
                    },
                    "linkTextFi": {
                        "type": "string"
                    },
                    "linkTextEn": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "StatusResponse": {
                "required": [
                    "status"
                ],
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "HealthStatus": {
                "required": [
                    "network",
                    "database",
                    "app"
                ],
                "type": "object",
                "properties": {
                    "network": {
                        "$ref": "#/components/schemas/StatusResponse"
                    },
                    "database": {
                        "$ref": "#/components/schemas/StatusResponse"
                    },
                    "app": {
                        "$ref": "#/components/schemas/StatusResponse"
                    }
                },
                "additionalProperties": false
            },
            "DatasetType": {
                "enum": [
                    "timeseries",
                    "file"
                ],
                "type": "string"
            },
            "DatasetFormat": {
                "enum": [
                    "csv",
                    "json",
                    "app",
                    "7zip",
                    "zip",
                    "xml"
                ],
                "type": "string"
            },
            "Pick_Dataset.id-or-modifiedAtUtc-or-type-or-organization-or-nameFi-or-nameEn-or-descriptionFi-or-descriptionEn-or-contentGroupsFi-or-contentGroupsEn-or-keyWordsFi-or-keyWordsEn-or-availableFormats-or-dataPeriodFi-or-dataPeriodEn-or-unitFi-or-unitEn_": {
                "required": [
                    "id",
                    "type",
                    "organization",
                    "nameFi",
                    "nameEn",
                    "descriptionFi",
                    "descriptionEn",
                    "dataPeriodFi",
                    "dataPeriodEn",
                    "unitFi",
                    "unitEn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "format": "double"
                    },
                    "modifiedAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "type": {
                        "$ref": "#/components/schemas/DatasetType"
                    },
                    "organization": {
                        "type": "string"
                    },
                    "nameFi": {
                        "type": "string"
                    },
                    "nameEn": {
                        "type": "string"
                    },
                    "descriptionFi": {
                        "type": "string"
                    },
                    "descriptionEn": {
                        "type": "string"
                    },
                    "contentGroupsFi": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "contentGroupsEn": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "keyWordsFi": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "keyWordsEn": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "availableFormats": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DatasetFormat"
                        }
                    },
                    "dataPeriodFi": {
                        "type": "string"
                    },
                    "dataPeriodEn": {
                        "type": "string"
                    },
                    "unitFi": {
                        "type": "string"
                    },
                    "unitEn": {
                        "type": "string"
                    }
                },
                "description": "From T, pick a set of properties whose keys are in the union K"
            },
            "DatasetShort": {
                "required": [
                    "id",
                    "type",
                    "organization",
                    "nameFi",
                    "nameEn",
                    "descriptionFi",
                    "descriptionEn",
                    "dataPeriodFi",
                    "dataPeriodEn",
                    "unitFi",
                    "unitEn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "format": "double"
                    },
                    "modifiedAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "type": {
                        "$ref": "#/components/schemas/DatasetType"
                    },
                    "organization": {
                        "type": "string"
                    },
                    "nameFi": {
                        "type": "string"
                    },
                    "nameEn": {
                        "type": "string"
                    },
                    "descriptionFi": {
                        "type": "string"
                    },
                    "descriptionEn": {
                        "type": "string"
                    },
                    "contentGroupsFi": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "contentGroupsEn": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "keyWordsFi": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "keyWordsEn": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "availableFormats": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DatasetFormat"
                        }
                    },
                    "dataPeriodFi": {
                        "type": "string"
                    },
                    "dataPeriodEn": {
                        "type": "string"
                    },
                    "unitFi": {
                        "type": "string"
                    },
                    "unitEn": {
                        "type": "string"
                    }
                },
                "description": "From T, pick a set of properties whose keys are in the union K"
            },
            "DatasetSearchResult": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Pick_Dataset.id-or-modifiedAtUtc-or-type-or-organization-or-nameFi-or-nameEn-or-descriptionFi-or-descriptionEn-or-contentGroupsFi-or-contentGroupsEn-or-keyWordsFi-or-keyWordsEn-or-availableFormats-or-dataPeriodFi-or-dataPeriodEn-or-unitFi-or-unitEn_"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "searchScore": {
                                "type": "number",
                                "format": "double"
                            }
                        }
                    }
                ]
            },
            "IPagination": {
                "required": [
                    "currentPage",
                    "perPage",
                    "from",
                    "to"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "format": "double"
                    },
                    "lastPage": {
                        "type": "number",
                        "format": "double"
                    },
                    "nextPage": {
                        "type": "number",
                        "format": "double",
                        "nullable": true
                    },
                    "prevPage": {
                        "type": "number",
                        "format": "double",
                        "nullable": true
                    },
                    "currentPage": {
                        "type": "number",
                        "format": "double"
                    },
                    "perPage": {
                        "type": "number",
                        "format": "double"
                    },
                    "from": {
                        "type": "number",
                        "format": "double"
                    },
                    "to": {
                        "type": "number",
                        "format": "double"
                    }
                },
                "additionalProperties": false
            },
            "IWithPagination_DatasetSearchResult_": {
                "required": [
                    "data",
                    "pagination"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DatasetSearchResult"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/IPagination"
                    }
                },
                "additionalProperties": false
            },
            "IWithPagination_DatasetShort_": {
                "required": [
                    "data",
                    "pagination"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Pick_Dataset.id-or-modifiedAtUtc-or-type-or-organization-or-nameFi-or-nameEn-or-descriptionFi-or-descriptionEn-or-contentGroupsFi-or-contentGroupsEn-or-keyWordsFi-or-keyWordsEn-or-availableFormats-or-dataPeriodFi-or-dataPeriodEn-or-unitFi-or-unitEn_"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/IPagination"
                    }
                },
                "additionalProperties": false
            },
            "DatasetStatus": {
                "enum": [
                    "active",
                    "inactive"
                ],
                "type": "string"
            },
            "Organization": {
                "type": "string"
            },
            "License": {
                "required": [
                    "name",
                    "termsLink"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "termsLink": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "Dataset": {
                "required": [
                    "id",
                    "type",
                    "isPublic",
                    "status",
                    "organization",
                    "nameFi",
                    "nameEn",
                    "descriptionFi",
                    "descriptionEn",
                    "dataPeriodFi",
                    "dataPeriodEn",
                    "unitFi",
                    "unitEn"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "format": "double"
                    },
                    "modifiedAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "type": {
                        "$ref": "#/components/schemas/DatasetType"
                    },
                    "isPublic": {
                        "type": "boolean"
                    },
                    "status": {
                        "$ref": "#/components/schemas/DatasetStatus"
                    },
                    "organization": {
                        "$ref": "#/components/schemas/Organization"
                    },
                    "nameFi": {
                        "type": "string"
                    },
                    "nameEn": {
                        "type": "string"
                    },
                    "descriptionFi": {
                        "type": "string"
                    },
                    "descriptionEn": {
                        "type": "string"
                    },
                    "dataPeriodFi": {
                        "type": "string"
                    },
                    "dataPeriodEn": {
                        "type": "string"
                    },
                    "unitFi": {
                        "type": "string"
                    },
                    "unitEn": {
                        "type": "string"
                    },
                    "updateCadenceFi": {
                        "type": "string"
                    },
                    "updateCadenceEn": {
                        "type": "string"
                    },
                    "contactPersons": {
                        "type": "string"
                    },
                    "license": {
                        "$ref": "#/components/schemas/License"
                    },
                    "keyWordsFi": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "keyWordsEn": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "contentGroupsFi": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "contentGroupsEn": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "availableFormats": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DatasetFormat"
                        }
                    }
                },
                "additionalProperties": false
            },
            "Pick_TimeseriesDataPrivate.Exclude_keyofTimeseriesDataPrivate.datasetId__": {
                "required": [
                    "startTime",
                    "endTime",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "modifiedAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "value": {
                        "type": "number",
                        "format": "double"
                    }
                },
                "description": "From T, pick a set of properties whose keys are in the union K"
            },
            "Omit_TimeseriesDataPrivate.datasetId_": {
                "required": [
                    "startTime",
                    "endTime",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "modifiedAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "value": {
                        "type": "number",
                        "format": "double"
                    }
                },
                "description": "From T, pick a set of properties whose keys are in the union K"
            },
            "TimeseriesData": {
                "allOf": [
                    {
                        "required": [
                            "datasetId"
                        ],
                        "type": "object",
                        "properties": {
                            "datasetId": {
                                "type": "number",
                                "format": "double"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/schemas/Pick_TimeseriesDataPrivate.Exclude_keyofTimeseriesDataPrivate.datasetId__"
                    }
                ]
            },
            "TimeseriesDataOneRowPerTimePeriod": {
                "required": [
                    "endTime",
                    "startTime"
                ],
                "type": "object",
                "properties": {
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "additionalProperties": {
                    "anyOf": [
                        {
                            "type": "number",
                            "format": "double"
                        },
                        {
                            "type": "string",
                            "format": "date-time"
                        }
                    ],
                    "nullable": true
                }
            },
            "IWithPagination_TimeseriesData-or-TimeseriesDataOneRowPerTimePeriod_": {
                "required": [
                    "data",
                    "pagination"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/TimeseriesData"
                                },
                                {
                                    "$ref": "#/components/schemas/TimeseriesDataOneRowPerTimePeriod"
                                }
                            ]
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/IPagination"
                    }
                },
                "additionalProperties": false
[...]
